* {
  box-sizing: border-box;
}
body {
  background-color: #1b1f3b;
}

main {
  color: white;
}

li {
  list-style-type: none;
}

.navbar {
  background-color: #1b1f3b;
}

.navbar:after {
  content: "";
  display: block;
  margin: 0 auto;
  border-bottom: 0.3rem solid #52528c;
  padding-top: 0.5rem 0rem;
  width: 75%;
}

.dropdown-menu {
  background-color: #52528c;
}

.navbar-brand {
  padding: 0;
  margin: 0;
}

.main-wrapper {
  margin: 0 auto;
  max-width: 768px;
}

i {
  font-size: 2rem;
}

p {
  margin: 0;
  color: grey;
}

.btn-primary {
  background-color: transparent;
  border-width: 0;
  outline: none !important;
  box-shadow: none !important;
}

.btn-primary:hover {
  background-color: #52528c;
}

.btn-primary.active {
  background-color: #52528c;
}

/* TODO: Remove Blue Outlines */
.btn-controls {
  outline: none !important;
  box-shadow: none !important;
  border: 0.15rem solid #52528c;
}

.post {
  display: flex;
  padding-top: 1rem;
  flex-direction: column;
}

.post__top {
  display: flex;
}

.post__top__details {
  flex: 1;
}

.post__profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0.2;
  min-width: 6rem;
}

.post__profile img {
  margin-bottom: 0.3rem;
}

.post .post__content {
  flex: 1;
}

.post__playback {
  display: flex;
  align-items: center;
  padding-right: 3rem;
}

.post__playback button {
  margin-right: 1rem;
  background-color: #372554;
  border-radius: 100%;
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 0.55rem;
}

.post__playback .progress {
  flex: 1;
}

.progress-bar {
  background-color: #c874d9;
}

/* .post__comments {
  padding-bottom: 1rem;
} */

.post__comment {
  display: flex;
  align-items: center;
  padding-bottom: 0.3rem;
}

.post__comment img {
  margin-right: 0.5rem;
}

.thread__username {
  font-size: 1.35rem;
}

.thread__wrapper {
  flex-direction: column;
}

.thread__top {
  margin-bottom: 1rem;
}

.thread__controls {
  margin-bottom: 1.5rem;
}

.tab-content {
  display: flex;
  margin-bottom: 1.5rem;
}

.comment-box {
  display: flex;
  border-radius: 0.5rem;
  border: 0.2rem solid #52528c;
}

.comments-sort-filter-control {
  display: flex;
}

.comments-sort {
  flex: 0.2;
}

.thread__reply__playback button {
  height: 2rem;
  width: 2rem;
}

.thread__reply__playback i {
  font-size: 1rem;
}

.thread__reply__username {
  margin-right: 1rem;
}

.thread__comment {
  color: white;
  display: flex;
}

.comment__controls {
  margin-right: 1rem;
}

.comment__left {
  offset-anchor: top;
}

.comment__interaction {
  display: flex;
}

.song__reply__title {
  color: white;
  margin-right: 1rem;
}

.song__reply button {
  height: 2rem;
  width: 2rem;
}

.song__reply i {
  font-size: 1.3rem;
}

.form {
  color: black;
}

.filled_button {
  background-color: #1b1f3b;
  color: white;
}

.filled_button:hover {
  color: white;
  background-color: #171a31;
}

.card {
  background-color: #52528c;
}

.signup:hover {
  background-color: #47477a;
}

.profile {
  display: flex;
  gap: 2rem;
}

.profile__controls {
  flex: 0.3;
  /* border: 1px solid white; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile__content {
  flex: 0.7;
  /* border: 1px solid white; */
}

.filled_button {
  background-color: #52528c;
}

.profile_link {
  text-decoration: none;
}

.profile_link:hover,
.link-active {
  text-decoration: underline;
}
