@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --background_color: #15182e;
  --accent_dark: #49497c;
  --playback_color: #372554;
  --accent_light: #c874d9;
  --accent_dark_hover: #47477a;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--background_color);
  font-family: "Rubik", sans-serif;
}

.profilePicture__rounded {
  border-radius: 100%;
  object-fit: cover;
}

.comment__picture {
  height: 30px;
  width: 30px;
}

.post__picture {
  height: 60px;
  width: 60px;
}

.navbar__picture {
  height: 50px;
  width: 50px;
}

.profile__picture {
  height: 175px;
  width: 175px;
}

main {
  color: white;
}

li {
  list-style-type: none;
}

ul {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  transition: 0.1s;
}

a:hover {
  color: var(--accent_light);
}

h3 {
  display: inline-block;
  font-size: 1.7rem;
}

.navbar {
  background-color: var(--background_color);
}

.navbar:after {
  content: "";
  display: block;
  margin: 0 auto;
  border-bottom: 0.3rem solid var(--accent_dark);
  padding-top: 0.5rem;
  width: 100%;
}

.dropdown-menu {
  background-color: var(--accent_dark);
}

.navbar-brand {
  padding: 0;
  margin: 0;
}

.main-wrapper {
  margin: 0 auto;
  max-width: 768px;
}

i {
  font-size: 2rem;
}

p {
  margin: 0;
  color: grey;
}

.btn-primary {
  background-color: transparent;
  border-width: 0;
  outline: none !important;
  box-shadow: none !important;
}

.btn-primary:hover {
  background-color: var(--accent_dark);
}

.btn-primary.active {
  background-color: var(--accent_dark);
}

/* TODO: Remove Blue Outlines */
.btn-controls {
  outline: none !important;
  box-shadow: none !important;
  border: 0.15rem solid var(--accent_dark);
}

.btn-post {
  background-color: var(--accent_dark);
}

.post {
  display: flex;
  flex-direction: column;
  border-bottom: 0.1rem solid var(--accent_dark);
}

.post__top {
  display: flex;
}

.post__top__details {
  flex: 1;
}

.post__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post__title h1 {
  width: 100%;
}

.post__title h3 {
  width: 100%;
}

.post__title button {
  border-radius: 100%;
  height: 3rem;
  width: 3rem;
  margin-right: 1rem;
  text-align: center;
  background: transparent;
}

.post__title i:hover {
  color: var(--accent_light);
}

.post__title i {
  color: white;
  margin-left: 1rem;
}

.post__title h5 {
  color: #9b6f7f;
  align-self: flex-end;
  width: 100%;
  font-size: 1rem;
}

.post__title a {
  margin: 0%;
  width: 100%;
}

.feed__genre {
  margin-right: 1rem;
}

.bi-heart-pulse:hover {
  color: var(--accent_light);
}

.bi-heart-pulse-fill {
  color: var(--accent_light) !important;
}

.bi-heart-pulse-fill:hover {
  color: white !important;
}

.heart__button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.4rem;
  /* width: 100%; */
}

.heart__button p {
  color: white;
  display: inline-block;
  width: max-content;
}

.like__count {
  width: 1rem;
}

.post__username {
  width: 100%;
}

.post__title h6 {
  justify-content: center;
  margin-bottom: 0%;
  align-items: center;
  font-size: 0.7rem;
}

audio {
  width: 100%;
  background-color: black;
}

.post__profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0.2;
  min-width: 6rem;
}

.post__profile img {
  margin-bottom: 0.3rem;
}

.post .post__content {
  flex: 1;
}

.post__playback {
  display: flex;
  align-items: center;
}

.post__controls i {
  font-size: 1.3rem;
  margin-left: 0.7rem;
}

.post__controls {
  align-items: center;
}

.post__playback button {
  margin-right: 1rem;
  background-color: var(--playback_color);
  border-radius: 100%;
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 0.55rem;
}

.post__playback .progress {
  flex: 1;
}

.progress-bar {
  background-color: var(--accent_light);
}

.post__comment {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.post__comment h4 {
  margin-right: 1rem;
}

.post__comment img {
  margin-right: 0.5rem;
}

.post__button__container {
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
}

.post__button {
  width: 65px;
  height: 65px;
  border-radius: 100%;
  background: var(--accent_light);
  box-shadow: 5px 5px 5px #000000;
}

.post__button i {
  font-size: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: var(--background_color);
}

.thread__username {
  font-size: 1.35rem;
}

.thread__wrapper {
  flex-direction: column;
}

.thread__top {
  margin-bottom: 1rem;
}

.thread__controls {
  margin-bottom: 1.5rem;
}

.tab-content {
  margin-bottom: 1.5rem;
  display: flex;
}

.tab-content > .active {
  display: flex;
  height: auto;
}

.reply__hub {
  margin-bottom: 1rem;
}

.comment__submit > .form-control {
  margin-right: 1rem;
}

.comment__submit label {
  margin-right: 1rem;
}

.comment-box {
  border-radius: 0.5rem;
  border: 0.2rem solid var(--accent_dark);
}

textarea {
  width: 100%;
}

.tab-content {
  width: 100%;
}

.reply-type {
  margin-left: 2rem;
}

#reply-controls {
  padding-right: 0;
}

#reply-upload-tab {
  padding-left: 0;
  padding-right: 0;
}

.comments-sort-filter-control {
  display: flex;
}

.comments-sort {
  flex: 0.2;
}

.comment__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.comment__content h6 {
  font-size: 0.7rem;
}

.song__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.song__content h6 {
  font-size: 0.7rem;
}

.song__content__main {
  display: flex;
  width: 100%;
}

.thread__reply__playback button {
  height: 2rem;
  width: 2rem;
}

.thread__reply__playback i {
  font-size: 1rem;
}

.thread__reply__username {
  margin-right: 1rem;
}

.thread__comment {
  color: white;
  display: flex;
}

.thread__comment__wrapper {
  display: flex;
  flex-direction: column;
  display: inline;
}

.thread__comment__main {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.thread__playback {
  width: 50%;
}

.thread__comment__replies {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  margin-left: 5.5rem;
}

.thread__comment__reply {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.comment__controls {
  margin-right: 1rem;
}

.comment__interaction {
  display: flex;
}

.comment__submit {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.song__submit {
  display: block !important;
  flex-direction: column;
  width: 100%;
}

.song__reply__title {
  color: white;
  margin-right: 1rem;
}

.song__reply button {
  height: 2rem;
  width: 2rem;
}

.song__reply i {
  font-size: 1.3rem;
}

.form {
  color: black;
}

.filled_button {
  background-color: var(--background_color);
  color: white;
}

.filled_button:hover {
  color: white;
  background-color: #171a31;
}

.card {
  background-color: var(--accent_dark);
}

.signup:hover {
  background-color: var(--accent_dark_hover);
}

.song__comment__box {
  margin-bottom: 1rem;
}

.song__thread__titles {
  display: flex;
}

.song__thread__titles h3 {
  margin-left: 1rem;
  align-self: flex-end;
  color: #9b6f7f;
}

.profile {
  display: flex;
  gap: 2rem;
}

.profile__title {
  width: 100%;
}

.profile__controls {
  flex: 0.3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#edit_profile_picture {
  transition: 0.3s all;
}

#edit_profile_picture:hover {
  filter: brightness(75%);
}

.profile__content {
  flex: 0.7;
}

.filled_button {
  background-color: var(--accent_dark);
}

.profile_link {
  text-decoration: none;
}

.profile_link:hover,
.link-active {
  text-decoration: underline;
}

.badge {
  margin-left: 1rem;
}

#hhTag {
  background-color: #a446db;
}

#popTag {
  background-color: #c874d9;
}

#edmTag {
  background-color: rgb(58, 185, 126);
}

#rockTag {
  background-color: rgb(58, 88, 185);
}

#metalTag {
  background-color: rgb(142, 152, 185);
}

#trapTag {
  background-color: rgb(185, 58, 88);
}

#countryTag {
  background-color: rgb(130, 58, 88);
}

#otherTag {
  background-color: #372554;
}

.button__upload {
  display: flex;
  align-items: center;
  justify-content: center;
}

#profile-picture {
  border-radius: 100%;
}

.profilePicture__rounded {
  border-radius: 100%;
  object-fit: cover;
}

.comment__picture {
  height: 30px;
  width: 30px;
}

.post__picture {
  height: 60px;
  width: 60px;
}

.post__page__picture {
  height: 100px;
  width: 100px;
}

.navbar__picture {
  height: 50px;
  width: 50px;
}

.profile__picture {
  height: 175px;
  width: 175px;
}

.genre__tags span {
  cursor: pointer;
}

.genre__tags span:hover {
  box-shadow: 0 0 20px 1px var(--accent_light); /* outer cyan */
}

.badge__active {
  box-shadow: 0 0 20px 1px var(--accent_light);
}

.delete_button_sm {
  margin-left: 0.5rem;
}

.delete-button {
  font-size: 1.5rem;
}

.delete-button:hover {
  color: var(--accent_light);
}
